.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 16px 300px;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
  width: 800px;
  margin-bottom: 40px;
  height: 100px;
  justify-content: center;
}

